<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <title>Document</title>
</head>
<body>
    
<div class="container">
    <div class="row">
        <div class="col-12 col-md-4">Column One</div>
        <div class="col-12 col-md-4">Column Two</div>
        <div class="col-12 col-md-4">Column Three</div>
    </div>
</div>

<!-- This will display links depending on if user is logged in-->

<ul>
    <!--If username in session loop-->

    {% if 'username' in session %}

    <li class="">Log Out</li>

    {% else %}
    
    <li class="">Log In</li>

    <li class="">Register</li>
    {% endif %}

    <!--End if username in session loop-->
</ul>

<!-- This will change classes on links depending on which page is being shown (replace the /**** with your page path)-->

<ul>

    <li class="{% if '/logged_in' == request.path %} active {% else %} muted">Log Out</li>
    
    <li class="{% if '/login' == request.path %} active {% else %} muted">Log In</li>

    <li class="{% if '/register' == request.path %} active {% else %} muted">Register</li>

</ul>

<ul>
    <!--I've used both the username loop and the if clauses on the classes of the elements here -->

    {% if 'username' in session %}

    <li class="{% if '/logged_in' == request.path %} active {% else %} muted">Log Out</li>

    {% else %}
    
    <li class="{% if '/login' == request.path %} active {% else %} muted">Log In</li>

    <li class="{% if '/register' == request.path %} active {% else %} muted">Register</li>
    {% endif %}

    <!--End if username in session loop-->
</ul>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-2 bg-red">Column One</div>
        <div class="col-12 col-md-2 blue">Column Two</div>
        <div class="col-12 col-md-8 green">Column Three</div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>