/* Draw main cat Animation */

svg .draw {
    stroke-width: .75rem;
    stroke: rgb(218, 165, 32);
    stroke-dasharray: 53765.1015625;
    stroke-dashoffset: 53765.1015625;
    animation: drawCat 4.2s forwards;
  }
  
  @keyframes drawCat {
    0% 
    {
      opacity: 0;
    }
    15%
    {
      opacity: 1;
      stroke-dashoffset: 53765.1015625;
    }
    55%
    {
      stroke-dashoffset: 0;
    }
    57%
    {
      stroke-dashoffset: 0;
    }
    97% 
    {
      stroke-dashoffset: 53765.1015625;
    }
  }

  svg .draw-two {
    stroke-width: 1.75rem;
    stroke-dasharray: 53765.1015625;
    stroke-dashoffset: 53765.1015625;
    opacity: .6;
    stroke: rgba(218, 165, 32, .2);
    animation: greyCatFadeIn 2s ease-in forwards;
  }

  @keyframes greyCatFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: .6;
    }
  }