/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* */
section .cat-svg 
{
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    height: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
section .cat-svg svg
{
    max-width: 100%;
    max-height: 100%;
    stroke-width: .75rem;
}
section header 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 82%;
    left: 31%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1;
    font-size: 1.4rem;
    line-height: 1.8;
    z-index: 10000;
    pointer-events: all;
    -webkit-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}
section header .social-media
{
    top: 54px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
section .hidden header
{
    z-index: 0;
    pointer-events: none;
    opacity: 0;
}
section header .social-media a
{
    color: rgb(53, 10, 95);
    text-decoration: none;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    z-index: 1;
}
section header .social-media a:hover
{
    opacity: .6;
}
#headline-and-social header .social-media .media-link-cv i,
#headline-and-social header .social-media .media-link-linkedin i,
#headline-and-social header .social-media .media-link-github i

{
    cursor: pointer;
    /* background: linear-gradient(0deg, #350a5f 0%, #350a5f 10%, #120110 10%,#120110 90%, #350a5f 90%, #350a5f 100%); */
    background: linear-gradient(0deg, #350a5f 0%, #350a5f 10%, #120110 10%,#120110 79%, #350a5f 79%, #350a5f 100%);
    font-size: 3.8rem;
    margin-left: 4px;
    margin-right: 4px;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    transition: .3s ease-in-out;
}
#headline-and-social header .social-media .media-link-github a:hover i
{
    border-radius: 4px;
    clip-path: polygon(0 25%, 50% 0, 100% 0, 100% 100%, 50% 100%, 0 100%);
    color: #350a5f;
}
#headline-and-social header .social-media .media-link-linkedin a:hover i
{
    border-radius: 4px;
    clip-path: polygon(0 0, 50% 0, 100% 25%, 100% 100%, 50% 100%, 0 100%);
}
#headline-and-social header .social-media .media-link-cv a:hover i
{
    border-radius: 4px;
    clip-path: polygon(0 0, 50% 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
    /* background: linear-gradient(0deg, #350a5f 0%, #350a5f 10%, #120110 10%,#120110 77%, #350a5f 77%, #350a5f 100%); */
}
section #headline-and-social header .social-media .cv-download
{
    top: -52px;
    left: 31px;
    position: absolute;
    z-index: 70;
    pointer-events: all;
}
section #headline-and-social header .social-media .media-link-cv .cv-download-icon
{
    position: relative;
    top: 0;
    left: 0;
    pointer-events: all;
    z-index: 80;
}
@media screen and (min-width: 1366px)
{
    section header 
    {
        top: 50%;
        left: 15%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        font-size: 1.8rem;
    } 
}