/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

:root {
    /* P = Primary | S = Secondary | T = Tertiary */
    --p-background: rgb(18, 1, 16);
    --p-text: rgba(250, 235, 215, .6);
    --p-headline-text: rgb(218, 165, 32);
    --p-social-media-links: rgb(53, 10, 95);
    --s-social-media-links: #350a5f;
}
section .cat-svg 
{
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    height: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
section .cat-svg svg
{
    max-width: 100%;
    max-height: 100%;
    stroke-width: .75rem;
}
section header 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 82%;
    left: 140px;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1;
    font-size: 1.4rem;
    line-height: 1.8;
    pointer-events: all;
    -webkit-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    z-index: 40;
}
section header .headline .angry,
section header .headline .jays
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100%);
    padding: 0 8px;
    width: calc(100%);
    border-radius: 2px;
    background: rgb(18, 1, 16);
}
section header .headline .angry
{
    position: relative;
    clip-path: polygon(3% 0, 97% 0, 100% 10%, 100% 60%, 97% 70%, 3% 70%, 0 60%, 0 10%);
    transition: .3s ease-in-out;
    animation: animateHeader 14s ease-in-out infinite;
}
section header .headline .jays
{
    position: absolute;
    color: rgb(218, 165, 32);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    transition: .3s ease-in-out;
    animation: reverseAnimateHeader 14s ease-in-out infinite;
}
@keyframes animateHeader
{
    0%, 100%
    {
        clip-path: polygon(3% 0, 97% 0, 100% 10%, 100% 60%, 97% 70%, 3% 70%, 0 60%, 0 10%);
    }
    16%, 46%
    {
        clip-path: polygon(0 0, 0 0, 0 10%, 0 60%, 0 70%, 0 70%, 0 60%, 0 10%);
    }
    64%
    {
        clip-path: polygon(3% 0, 97% 0, 100% 10%, 100% 60%, 97% 70%, 3% 70%, 0 60%, 0 10%);
    }
}
@keyframes reverseAnimateHeader
{
    0%, 100%
    {
        clip-path: polygon(100% 0, 100% 0, 100% 10%, 100% 60%, 100% 70%, 100% 70%, 100% 60%, 100% 10%);
    }
    16%, 46%
    {
        clip-path: polygon(23% 0, 77% 0, 80% 10%, 80% 60%, 77% 70%, 23% 70%, 20% 60%, 20% 10%);
    }
    64%
    {
        clip-path: polygon(100% 0, 100% 0, 100% 10%, 100% 60%, 100% 70%, 100% 70%, 100% 60%, 100% 10%);
    }
}
section header .social-media
{
    top: 54px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 30;
}
section .hidden header
{
    z-index: 0;
    pointer-events: none;
    opacity: 0;
}
section header .social-media a
{
    color: #350a5f;
    opacity: .8;
    text-decoration: none;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    z-index: 1;   
}
section header .social-media a:hover
{
    opacity: 1;
}
section header .social-media a:hover::before
{
    left: 110%;
    clip-path: polygon(100% 0, 90% 0, 90% 100%, 100% 100%);
}
section .group
{
    position: absolute;
    left: 100%;
    top: -20px;
    z-index: 9999;
}
section .group .example 
{
    opacity: 1;
    position: relative;
	width: 55px;
	height: 70px;
    cursor: pointer;
}
section .group .example .exCPlogo
{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
    display: inline-block;
    background: url(../images/angry_cat.svg) center center, #faebd770;
    -webkit-background-size: cover;
    background-size: cover;
    /* background-color: transparent; */
    -webkit-clip-path: polygon( 100% 0, 50% 50%, 50% 50%, 50% 50%, 0 100%, 100% 100%, 100% 0, 50% 50%, 50% 50%, 50% 50%, 0 100%, 0 0, 100% 0, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 0 100%, 100% 100%, 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 0 100%, 0 100%, 0 0, 0 0, 0 0, 0 0, 50% 50%);
    clip-path: polygon( 100% 0, 50% 50%, 50% 50%, 50% 50%, 0 100%, 100% 100%, 100% 0, 50% 50%, 50% 50%, 50% 50%, 0 100%, 0 0, 100% 0, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 0 100%, 100% 100%, 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 0 100%, 0 100%, 0 0, 0 0, 0 0, 0 0, 50% 50%);
    -webkit-animation: exampleCP 14s infinite;
    animation: exampleCP 14s infinite;
}
@keyframes exampleCP
{
    0%, 100%
    {
        width: 70px;
        -webkit-clip-path: polygon( 100% 0, 50% 50%, 50% 50%, 50% 50%, 0 100%, 100% 100%, 100% 0, 50% 50%, 50% 50%, 50% 50%, 0 100%, 0 0, 100% 0, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 0 100%, 100% 100%, 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 0 100%, 0 100%, 0 0, 0 0, 0 0, 0 0, 50% 50%);
        clip-path: polygon( 100% 0, 50% 50%, 50% 50%, 50% 50%, 0 100%, 100% 100%, 100% 0, 50% 50%, 50% 50%, 50% 50%, 0 100%, 0 0, 100% 0, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 0 100%, 100% 100%, 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 0 100%, 0 100%, 0 0, 0 0, 0 0, 0 0, 50% 50%);
        
    }
    0%, 23% 
    {
        width: 70px;
        background-color: transparent;
    }
    23%, 48%
    {
        width: 55px;
        -webkit-clip-path: polygon( 50% 0, 50% 5%, 93% 35%, 50% 65%, 50% 70%, 100% 35%, 50% 0, 50% 5%, 7% 35%, 50% 65%, 50% 70%, 0 35%, 50% 0, 50% 30%, 52% 31%, 52% 6%, 50% 5%, 48% 6%, 48% 31%, 50% 30%, 50% 35%, 93% 65%, 52% 94%, 52% 66%, 50% 70%, 50% 100%, 100% 65%, 100% 35%, 96% 37%, 96% 62%, 50% 30%, 50% 35%, 7% 65%, 48% 94%, 48% 66%, 50% 70%, 50% 95%, 50% 100%, 0 65%, 0% 35%, 4% 37%, 4% 62%, 50% 30%);
        clip-path: polygon( 50% 0, 50% 5%, 93% 35%, 50% 65%, 50% 70%, 100% 35%, 50% 0, 50% 5%, 7% 35%, 50% 65%, 50% 70%, 0 35%, 50% 0, 50% 30%, 52% 31%, 52% 6%, 50% 5%, 48% 6%, 48% 31%, 50% 30%, 50% 35%, 93% 65%, 52% 94%, 52% 66%, 50% 70%, 50% 100%, 100% 65%, 100% 35%, 96% 37%, 96% 62%, 50% 30%, 50% 35%, 7% 65%, 48% 94%, 48% 66%, 50% 70%, 50% 95%, 50% 100%, 0 65%, 0% 35%, 4% 37%, 4% 62%, 50% 30%);
        transform: translateY(-34px);
        transform: translateX(-48px);
        background-color: #faebd770;
    }
    48%, 52%
    {
        transform: translateX(-278px);
    }
    48%, 70%
    {
        opacity: 0;
    }
    70%, 71%
    {
        transform: translateX(-58px);
    }
    70%, 77%
    {
        opacity: 0;
    }
    73%, 100%
    {
        width: 70px;
        background-color: transparent;
    }
}
#skills-icons header .social-media .media-link-cv i,
#skills-icons header .social-media .media-link-linkedin i,
#skills-icons header .social-media .media-link-github i,
#headline-and-social header .social-media .media-link-cv i,
#headline-and-social header .social-media .media-link-linkedin i,
#headline-and-social header .social-media .media-link-github i

{
    cursor: pointer;
    /* background: linear-gradient(0deg, #350a5f 0%, #350a5f 10%, #120110 10%,#120110 90%, #350a5f 90%, #350a5f 100%); */
    background: linear-gradient(0deg, #350a5f 0%, #350a5f 9%, #120110 9%,#120110 93%, #350a5f 93%, #350a5f 100%);
    font-size: 3.8rem;
    margin-left: 4px;
    margin-right: 4px;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    transition: .3s ease-in-out;
}
#headline-and-social header .social-media .media-link-cv i,
#headline-and-social header .social-media .media-link-linkedin i,
#headline-and-social header .social-media .media-link-github i
{
    background: linear-gradient(0deg, #350a5f 0%, #350a5f 10%, #120110 10%,#120110 79%, #350a5f 79%, #350a5f 100%);
}
#headline-and-social header .social-media .media-link-github a:hover i
{
    border-radius: 4px;
    clip-path: polygon(0 25%, 50% 0, 100% 0, 100% 100%, 50% 100%, 0 100%);
    color: #350a5f;
}
#headline-and-social header .social-media .media-link-linkedin a:hover i
{
    border-radius: 4px;
    clip-path: polygon(0 0, 50% 0, 100% 25%, 100% 100%, 50% 100%, 0 100%);
}
#headline-and-social header .social-media .media-link-cv a:hover i
{
    border-radius: 4px;
    clip-path: polygon(0 0, 50% 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
    /* background: linear-gradient(0deg, #350a5f 0%, #350a5f 10%, #120110 10%,#120110 77%, #350a5f 77%, #350a5f 100%); */
}
section #skills-icons header .social-media .cv-download,
section #headline-and-social header .social-media .cv-download
{
    top: -52px;
    left: 31px;
    position: absolute;
    z-index: 70;
    pointer-events: all;
}
section #skills-icons header .social-media .media-link-cv .cv-download-icon,
section #headline-and-social header .social-media .media-link-cv .cv-download-icon
{
    position: relative;
    top: 35px;
    left: 0;
    pointer-events: all;
    z-index: 80;
}
.cv-download-link
{
    position: relative;
    top: -35px;
}
@media screen and (min-width: 1366px)
{
    section header 
    {
        top: 50vh;
        left: 240px;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        font-size: 1.8rem;
    } 
}