/* Loader Animation */

svg .loading-draw {
  stroke-width: .65rem;
  stroke: rgb(59, 49, 23);
  stroke-dasharray: 100;
  animation: loading-cat 2.6s ease-in-out infinite;
}

@keyframes loading-cat {
   0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 400;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.loading-text {
  font-size: 1.45rem;
  padding: .7rem;
  color: rgb(218, 165, 32);
  animation: text-loading 3s ease-in-out infinite;
  opacity: .1;
}

@keyframes text-loading {
  0% {
    opacity: .1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .1;
  }
}

.fade-out-loader {
  animation: fadeOutLoader 3s forwards;
}

@keyframes fadeOutLoader {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

/* End Loader Animation */

.overlay {
    position: fixed;
    display: flex;
    min-height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    z-index: 9998;
    animation: fadeOut 3.6s forwards;
  }
  
  @keyframes fadeOut {
    0% 
    {
      opacity: 1;
    }
    85% 
    {
      opacity: 1;
    } 
    100% {
      opacity: 0;
      pointer-events: all;
      z-index: -1;
    }
  }
  
  .headline {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    background: transparent;
    z-index: 9999;
  }
  
  .headline-flash {
    position: absolute;
  }
  
  .headline-flash span {
    font-size: 5rem;
    color: transparent;
    font-weight: 500;
    animation: flashLetters .8s forwards;
  }
  
  .angry,
  .cat,
  .design {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .headline-flash span:nth-child(1),
  .headline-flash span:nth-child(2),
  .headline-flash span:nth-child(3),
  .headline-flash span:nth-child(4),
  .headline-flash span:nth-child(5) {
    animation-delay: .4s;
  }
  
  .cat span {
    animation: flashLetters .8s forwards;
  }
  
  .headline-flash .cat span:nth-child(1),
  .headline-flash .cat span:nth-child(2),
  .headline-flash .cat span:nth-child(3) {
    animation-delay: .8s;
  }
  
  .design span {
    animation: flashLetters .8s forwards;
  }
  
  .headline-flash .design span:nth-child(1) {
    animation-delay: 1s;
  }
  .headline-flash .design span:nth-child(2) {
    animation-delay: 1.2s;
  }
  .headline-flash .design span:nth-child(3) {
    animation-delay: 1.4s;
  }
  .headline-flash .design span:nth-child(4) {
    animation-delay: 1.6s;
  }
  .headline-flash .design span:nth-child(5) {
    animation-delay: 1.8s;
  }
  .headline-flash .design span:nth-child(6) {
    animation-delay: 2s;
  }
  
  @keyframes flashLetters {
    0%, 75%
    {
      color: transparent;
      text-shadow: none;
    }
    80%
    {
      color: rgb(218, 165, 32);
      text-shadow: 0 0 10px rgb(218, 165, 32),
                   0 0 20px rgb(218, 165, 32),
                   0 0 40px rgb(218, 165, 32),
                   0 0 80px rgb(218, 165, 32),
                   0 0 120px rgb(218, 165, 32),
                   0 0 160px rgb(218, 165, 32);
    }
    100% 
    {
      color: #333;
    }
  }

  @media only screen and (min-width: 600px) {
    .loading-text {
      font-size: 3.45rem;
    }
  }