/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* 
{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Baloo Tammudu 2", sans-serif;
}
body 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgb(16, 1, 14);
    padding-bottom: 200px;
    overflow: hidden;
    color: rgba(250, 235, 215, .6);
}
.scrolling 
{

    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 100vh;
}
.scrolling .main-content 
{
    min-width: 56vw;
    max-width: 76vw;
    cursor: pointer;
}
.scrolling h2 
{
    left: 6px;
    font-size: 2em;
}
.scrolling:nth-child(even) h2 
{
    margin-left: 152px;
}
.scrolling .container 
{
    position: relative;
    max-width: 98%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.scrolling:nth-child(even) .container 
{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}
.scrolling .container .img-container 
{
    position: relative;
    width: 96%;
    height: 400px;
    overflow: hidden;
    -webkit-box-shadow: 0 25px 35px rgba(0,0,0,0,.1);
            box-shadow: 0 25px 35px rgba(0,0,0,0,.1);
}
.scrolling .container .img-container img
{
    position: absolute;
    top: 0;
    left: 0;
    opacity: .6;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.scrolling .container .img-container:hover img 
{
    opacity: 1;
} 
.scrolling .container .text-content 
{
    position: absolute;
    right: 0;
    margin-top: 200px;
    margin-bottom: 20px;
    padding: 40px;
    background-color: rgba(14, 1, 8, .9);
    z-index: 1;
    max-width: 70%;
    color: antiquewhite;
    -webkit-box-shadow: 0 25px 35px rgba(0,0,0,0,.1);
            box-shadow: 0 25px 35px rgba(0,0,0,0,.1);
    border-bottom: 12px solid rgba(218, 165, 32, 0.3);
    opacity: 1;
}
.scrolling:nth-child(even) .container .text-content 
{
    left: 0;
}