#projects
{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 65vh;
    background: transparent;
}
#projects .container
{
    max-width: 90vw;
    pointer-events: all;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;

}
#projects .container .card
{
    margin: 14px;
    position: relative;
    width: 180px;
    height: 240px;
    background: rgba(48, 35, 1, 0.902);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(14, 1, 8, .8);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(218, 165, 32, .6);
    transition: .5s;
    overflow: hidden;
    transform-style: preserve-3d;
}
#projects .container .card-content
{
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgba(218, 165, 32, .6);
    transition: .2s ease-in-out;
}
#projects .container:hover .card
{
    transition-delay: .2s;
    transform: perspective(500px) rotateY(30deg);
}
#projects .container .card:hover
{
    transition-delay: .2s;
    transform: perspective(500px) rotateY(0deg);
}
#projects .container .card:hover ~ .card
{
    transition-delay: .2s;
    transform: perspective(500px) rotateY(-30deg);
}
#projects .container .card h2
{
    width: 98%;
    height: 94%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border-radius: 75px 15px; */
    background:rgba(14, 1, 8, .8);
    color:rgba(48, 35, 1, 0.902);
    transition: .5s;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}
#projects .container .card:hover
{
    border: solid 1px rgba(48, 35, 1, 0.902);
    background:rgba(14, 1, 8, .8);
}
#projects .container .card:hover .card-content
{
    transition-delay: .4s;
    visibility: visible;
}
#projects .container .card:hover h2
{
    box-shadow: 0 0 0  150px rgba(14, 1, 8, .8);
    background: rgba(218, 165, 32, .6);
    color: rgba(14, 1, 8, .8);
    /* clip-path: polygon(20% 40%, 50% 20%, 80% 40%, 80% 60%, 50% 80%, 20% 60%); */
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%);
}