
    .scrollable-content-right section
    {
        position: relative;
        width: 85%;
        /* background: var(--s-dark-purple-fade-2); */
        margin-top: 80px;
        margin-bottom: 380px;
    }
    .scrollable-content-right section:nth-last-child(1)
    {
        margin-bottom: 120px;
    }
    .scrollable-content-right .box-corners 
    {
        position: relative;
    }
    .scrollable-content-right .box-corners::before
    {
        position: absolute;
        content: '';
        height: 28px;
        width: 16px;
        top: -28px;
        left: 7%;
        border-top: solid 3px var(--s-gold-fade-6);
        border-left: solid 3px var(--s-gold-fade-6);
        opacity: .2;
    }
    .scrollable-content-right .box-corners::after
    {
        position: absolute;
        content: '';
        height: 28px;
        width: 16px;
        bottom: -28px;
        right: 4%;
        border-bottom: solid 3px var(--s-gold-fade-6);
        border-right: solid 3px var(--s-gold-fade-6);
        opacity: .2;
    }
    .scrollable-content-right .call-to-action .box-corners::before
    {
        top: 0;
        left: 0;
    }
    .scrollable-content-right .call-to-action .box-corners::after
    {
        bottom: 0;
        right: 0;
    }
    .scrollable-content-headline-wrap
    {
        margin-bottom: 20px;
    }
    .scrollable-content-right .scrollable-headline
    {
        text-transform: uppercase;
        font-size: 2.6rem;
        font-weight: 200;
        line-height: 3rem;
        letter-spacing: .6rem;
        margin-left: 10px;
        margin-bottom: 38px;
        background: var(--p-dark-purple-shade);
    }

    /* CALL TO ACTION DISPLAY STYLES */
    section .call-to-action
    {
        height: 75px;
        width: 100%;
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "call-to-action-hi call-to-action-consult call-to-action-cv";
        transition: all .3s ease-in-out;
    }
    .call-to-action .display-code-live
    {
        width: 27%;
        text-align: center;
        margin-left: 0;
        bottom: 0;
        position: absolute;
        height: 100%;
    }
    .error-message::before,
    .call-to-action .display-code-live::before
    {
        content:'';
        transform: skew(40deg);
        background: var(--p-dark-purple);
        border-left: 3px solid var(--p-gold);
        border-bottom: 3px solid var(--p-gold);
        top: -6%;
        left: 0;
        height: 30px;
        width:6px;
        position: absolute;
        opacity: .6;
    }
    .error-message::after,
    .call-to-action .display-code-live::after
    {
        content:'';
        transform: skew(-40deg);
        background: var(--p-dark-purple);
        border-right: 3px solid var(--p-gold);
        border-bottom: 3px solid var(--p-gold);
        top: -6%;
        right: 0;
        height: 30px;
        width:6px;
        position: absolute;
        opacity: .6;
    }
    .call-to-action-hi button::before,
    .call-to-action-hi button::after
    {
        opacity: 0;
        transition: opacity .3s ease-in-out;
    }
    .call-to-action-hi.active button::before,
    .call-to-action-hi.active button::after
    {
        opacity: 1;
    }
    .call-to-action-consult
    {
        grid-area: call-to-action-consult;
    }
    .call-to-action-hi
    {
        grid-area: call-to-action-hi;
    }
    .say-hi-form
    {
        position: absolute;
        left: 5%;
        width: 90%;
        /* height: 100%; */
        /* border: 1px solid var(--s-gold-fade-6);
        border-radius: 8px; */
        padding: 40px;
    }
    .scrollable-content-wrap.say-hi-collapsible
    {
        display: none;
        overflow: hidden;
    }
    
    .scrollable-content-wrap.say-hi-collapsible .call-to-action
    {
        height: 0;
        transition: height .3s ease-in-out;
        grid-template-columns: 1fr;
        grid-template-areas: "call-to-action-hi";
    }
    /* ACTIVE states for collapsible Email form */
    .say-hi-collapsible.active
    {
        display: flex;
        overflow: visible;
        transition: all .3s ease-in-out;
        animation: changeOpacity .6s ease-in-out;
    }
    @keyframes changeOpacity
    {
        0%,50%
        {
            opacity: 0;
        }
        100%
        {
            opacity: 1;
        }
    }
    .scrollable-content-wrap.say-hi-collapsible.active .call-to-action
    {
        width: 100%;
        height: 300px;
    }
    .say-hi-collapsible.active .call-to-action-hi input,
    .say-hi-collapsible.active .call-to-action-hi textarea
    {
        animation: showHiCollapsible .6s ease-in-out;
        background: transparent;
    }
    @keyframes showHiCollapsible
    {
        0%
        {
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        }
        100%
        {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
    }
    .say-hi-collapsible.active .call-to-action-hi input,
    .say-hi-collapsible.active .call-to-action-hi textarea
    {
        font-size: .9rem;
        width: 100%;
        position: relative;
        color: var(--p-text);
        background: transparent;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid var(--s-gold-fade-6);
        outline: none;
        opacity: .6;
        transition: opacity .3s ease-in-out;
    }
    .say-hi-collapsible.active .call-to-action-hi input:hover,
    .say-hi-collapsible.active .call-to-action-hi textarea:hover
    {
        opacity: 1;
    }
    #emailform
    {
        /* position: relative; */
        width:66%;
    }
    .call-to-action-hi button 
    {
        width: 20%;
        font-size: 1rem;
        
        background: transparent;
        text-decoration: none;
        text-align: center;
        color: var(--p-text);
        border-bottom: 1px solid var(--p-dark-purple);
        border: none;
        outline: none;
        position: absolute;
        left: 74%;
        transform: translateY(-50%);
        bottom: 40px;
        opacity: .1;
        transition: opacity .3s ease-in-out;
    }
    .call-to-action-hi.active button
    {
        cursor: pointer;
        border-bottom: 1px solid var(--p-gold);
        opacity: .6;
    }

    /* Tooltips for Say Hi Email Form */
    .scrollable-content-wrap .call-to-action .call-to-action-hi #emailform .name span,
    .scrollable-content-wrap .call-to-action .call-to-action-hi #emailform .email span,
    .scrollable-content-wrap .call-to-action .call-to-action-hi #emailform .email-content span
    {
        height: 34px;
        width: 220px;
        visibility: hidden;
        color: var(--p-text);
        background: transparent;
        position: absolute;
        left: 70%;
        top: 42px;
    }
    .scrollable-content-wrap .call-to-action .call-to-action-hi #emailform .error-message.active span
    {
        height: 34px;
        width: 220px;
        visibility: visible;
        opacity: 1;
        overflow: hidden;
        font-weight: 200;
        border-right: .02em solid orange; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: .15em; /* Adjust as needed */
        transition: opacity .3s ease-in-out;
    }

    /* Tooltip for Name input */
    .scrollable-content-wrap .call-to-action .call-to-action-hi #emailform .error-message.name.active span
    {
        width: 220px;
        animation: typing 1.6s steps(40, end),
        blink-caret .75s step-end infinite;
    }

    /* Tooltip for Email input */
    .scrollable-content-wrap .call-to-action .call-to-action-hi #emailform .error-message.email.active span
    {
        width: 240px;
        top: 80px;
        animation: typing 1.6s steps(40, end),
        blink-caret .75s step-end infinite;
    }

    /* Tooltip for Message input */
    .scrollable-content-wrap .call-to-action .call-to-action-hi #emailform .error-message.email-content.active span
    {
        width: 252px;
        top: 118px;
        animation: typingContent 1.6s steps(40, end),
        blink-caret .75s step-end infinite;
    }
    /* The typing effect */
    @keyframes typing 
    {
    from { width: 0 }
    to { width: 235px }
    }
    @keyframes typingContent
    {
    from { width: 0 }
    to { width: 252px }
    }
    /* The typewriter cursor effect */
    @keyframes blink-caret 
    {
    from, to { border-color: transparent }
    50% { border-color: var(--s-gold-fade-6); }
    }
    /* If input is valid */
    .scrollable-content-wrap .call-to-action .call-to-action-hi #emailform .error-message.active.valid span
    {
        animation:
            reverseTyping 1.2s steps(40, start) forwards,
            blink-caret-purple .75s step-end forwards;
    }
    /* Reverse typewriter effect */
    @keyframes reverseTyping 
    {
        from { width: 220px }
        to { width: 0 }
    }
    @keyframes blink-caret-purple
    {
    from, to { border-color: transparent }
    50% { border-color: var(--p-medium-purple); }
    }
    /* Show if form input is invalid */
    .error-message
    {
        width: 252px;
        visibility: hidden;
    }
    .error-message.active
    {
        visibility: visible;
    }

    /* States and positioning for elements skewed for tooltip visual effect

      \ 
        please input valid .....
      /

    */
    #emailform .error-message::before
    {
        content:'';
        transform: skew(40deg);
        background: var(--p-dark-purple);
        border-left: none;
        border-bottom: none;
        border-right: .03em solid var(--p-gold);
        border-top: .08em solid var(--p-gold);
        opacity: .8;
        top: 40px;
        left: 68%;
        height: 10px;
        width: 6px;
        transition: opacity 1.6s ease-in-out;
    }
    #emailform .error-message::after
    {
        content:'';
        transform: skew(-40deg);
        background: var(--p-dark-purple);
        border-right: .03em solid var(--p-gold);
        border-bottom: .08em solid var(--p-gold);
        opacity: .8;
        top: 62px;
        left: 68%;
        height: 10px;
        width: 6px;
        transition: opacity 1.6s ease-in-out;
    }
    #emailform .error-message.email::before
    {
        top: 78px;
    }
    #emailform .error-message.email::after
    {
        top: 100px;
    }
    #emailform .error-message.email-content::before
    {
        top: 116px;
    }
    #emailform .error-message.email-content::after
    {
        top: 138px;
    }
    /* Fade out on valid class*/
    .scrollable-content-wrap .call-to-action .call-to-action-hi #emailform .active.valid.error-message::before
    {
        opacity: 0;
    }
    .scrollable-content-wrap .call-to-action .call-to-action-hi #emailform .active.valid.error-message::after
    {
        opacity: 0;
    }
    .call-to-action-cv
    {
        grid-area: call-to-action-cv;
    }
    .call-to-action-link
    {
        width: 100%;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }
    .scrollable-content-right section i,
    .left-right-margin-8,
    .gold-text,
    .outline-text
    {
        margin: 0 8px 0 8px;
    }
    @supports (-webkit-text-stroke: 1px var(--p-text)) {
        .outline-text {
            -webkit-text-stroke: 1px var(--p-text);
            -webkit-text-fill-color: transparent;
        }
    }
    .gold-text
    {
        width: 18%;
        text-align: end;
        color: var(--s-gold-fade-6);
    }
    .scrollable-content-wrap
    {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 12px;
    }
    .scrollable-content .scrollable-content-right section ul 
    {
        list-style-type: none;
        margin: 40px 0 0 80px;
    }
    .stack-list-wrap
    {
        width: 100%;
        margin: -2% 0 0 20%;
        text-align: start;
    }
    .text-list-wrap
    {
        margin: 0 0 0 5%;
        width: 60%;
        opacity: .6;
        transition: opacity .3s ease-in-out;
    }
    .text-list-wrap:hover
    {
        opacity: 1;
    }

    /* Screen Right Projects Stack Icons */
    .stack-lists
    {
        display: inline-block;
        height: 75px;
        width: 150px;
        text-align: center;
        margin-bottom: 12px;
    }
    .scrollable-content-right section .stack-lists i,
    .scrollable-content-right section .stack-lists span
    {
        display: block;
        position: relative;
        margin-bottom: 12px;
    }
    .scrollable-content-wrap span
    {
        font-size: 1rem;
        font-weight: 200;
    }
    .scrollable-content-right section .stack-lists span
    {
        font-size: 1rem;
        font-weight: 400;
    }
    .scrollable-content-right section .stack-lists i
    {
        display: inline-block;
        font-size: 2.5rem;
        top: 0;
        color: var(--p-purple);
    }
    .scrollable-content-right section .stack-lists .block-icon
    {
        background: var(--p-purple);
        border-radius: 4px;
    }
    .scrollable-content-right section .stack-lists .block-icon::after
    {
        content: 'dj';
        color: var(--p-dark-purple);
        height: 100%;
        width: 100%; 
        position: absolute;
        top: 0;
        left: 0;
        font-size: 2rem;
        font-weight: 900;
    }
    .scrollable-content-right section .stack-lists,
    .call-to-action-link
    {
        opacity: .5;
        transition: .3s ease-in-out;
    }
    .call-to-action-hi.active button:hover,
    .scrollable-content-right section .stack-lists:hover,
    .call-to-action-link:hover
    {
        opacity: 1;
    }
    .stack-lists span
    {
        bottom: 0;
    }

    /* Screen Right Projects Code and View Live buttons */
    .has-display-code
    {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: "display-code-live-left display-code-live-right";
        width: 100%;
        height: 100px;
    }
    .display-code-live
    {
        text-align: center;
        margin-left: 31%;
        /* bottom: -85px; */
        position: absolute;
        height: 100%;
    }
    .display-code-live-left,
    .display-code-live-right
    {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 36%;
        opacity: .6;
        display: inline;
        transition: .3s ease-in-out;
    }
    .display-code-live-left
    {
        grid-area: display-code-live-left;
    }
    .display-code-live-right
    {
        grid-area: display-code-live-right;
    }

    /* Screen Right Button Borders */
    .display-code-live::before
    {
        content:'';
        transform: skew(40deg);
        background: var(--p-dark-purple);
        border-left: 3px solid var(--p-gold);
        border-bottom: 3px solid var(--p-gold);
        top: 2%;
        left: -3%;
        height: 30px;
        width:6px;
        position: absolute;
        opacity: .8;
    }
    .display-code-live::after
    {
        content:'';
        transform: skew(-40deg);
        background: var(--p-dark-purple);
        border-right: 3px solid var(--p-gold);
        border-bottom: 3px solid var(--p-gold);
        top: 2%;
        right: -3%;
        height: 30px;
        width:6px;
        position: absolute;
        opacity: .8;
    }
    section .has-display-code .display-code-live .dim-text
    {
        opacity: .8;
    }
    .display-code-live-left:hover,
    .display-code-live-left:hover .dim-text,
    .display-code-live-right:hover,
    .display-code-live-right:hover .dim-text
    {
        opacity: 1;
    }
    .scrollable-content .active
    {
        margin-top: 0;
    }