.showcase-wrapper {
    padding: var(--padding);
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 600px;
    /* perspective-origin: 100%; */
}

.absolute {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 0;
}

.showcase-wrapper .showcase {
    cursor: pointer;
    pointer-events: all;
    position: relative;
    width: 95px;
    height: 400px;
    background: var(--bg-grey);
    border-radius: var(--radius);
    transition: .5s;
    transform-style: preserve-3d;
    overflow: hidden;
    transform: rotateY(25deg);
    box-shadow:  8px 8px 12px var(--p-grey);
}
.showcase-wrapper .showcase a
{
    position: relative;
    z-index: 100;
    pointer-events: all;
}
.showcase-wrapper .showcase:nth-child(3) {
    transform: rotateY(0);
    width: 225px;
}

.showcase-wrapper .showcase:nth-child(4) {
    transform: rotateY(-25deg);
}
.showcase-wrapper .showcase:nth-child(5) {
    transform: rotateY(-25deg);
}

.showcase-wrapper .showcase:Hover ~ .showcase {
    transform: rotateY(-25deg);
}

.showcase-wrapper:hover {
    perspective-origin: 50%
}

.showcase-wrapper .showcase:Hover {
    transform: rotateY(0deg) scale(1.25);
    width: 335px;
    z-index: 1;
}

.showcase-wrapper .showcase .showcase-img:Before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--p-grey);
    z-index: 1;
    opacity: 0.2;
    transition: .5s;
    mix-blend-mode: multiply;
}

.showcase-wrapper .showcase:Hover .showcase-img:Before {
    top: 305px;
    opacity: 1;
    mix-blend-mode: normal;
}

.showcase-wrapper .showcase .showcase-img img {
    object-fit: cover;
    /* border: solid 1px var(--bg-grey); */
    border-radius: var(--radius);
}

.showcase-wrapper .showcase .showcase-img:Hover img {
    border: none;
}

.showcase-wrapper .showcase .showcase-content {
    z-index: 1;
    padding: var(--padding);
    top: 295px;
    box-sizing: border-box;
}

.showcase-wrapper .showcase .showcase-content h4 {
    color: var(--s-grey);
    transition: .4s;
    text-transform: uppercase;
    margin-bottom: 4px;
    font-size: 1.4rem;
    transform: translateY(200px);
    opacity: 0;
}

.showcase-wrapper .showcase:Hover .showcase-content h4 {
    opacity: 1;
    transform: translateY(0);
    transition-delay: .5s;
}

.showcase-wrapper .showcase .showcase-content p {
    color: var(--white);
    transition: .4s;
    font-size: .9rem;
    transform: translateY(200px);
    width: auto;
}

.showcase-wrapper .showcase:Hover .showcase-content p {
    transform: translateY(0);
    transition-delay: .6s;
}