.slide .slide-content .skills
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 20px;
}
.slide .slide-content .skills .skills-text-area
{
    position: absolute;
    width: 100%;
    height: 88%;
    padding: 4px;
    font-size: .6rem;
    line-height: 10px;
    background: url(../images/skills/python.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(14, 1, 8, .2);
    
}
.slide .slide-content .skills-overlay
{
    background-color: rgba(18, 1, 16, .2);
    height: 60%;
    width: 60%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.slide .slide-content .skills-overlay i
{
    font-size: 2.8rem;
    padding: 14px;
}