/* Idea for animation sourced from the geniuses at Keyframers (https://www.youtube.com/channel/UCtmYk7H-NNYLEe_LgBRYomA) */
.slide-container .slide.active .slide-content .skwoop,
.say-hi-collapsible.active #emailform .skwoop 
{
  transform-origin: top left;
  animation: skwoop 0.7s ease-in backwards;
  animation-delay: .4s;
}
@keyframes skwoop 
{
    from 
    {
        opacity: 0;
        transform: translateY(10vh) skewY(5deg);
    }
}
/* Skills + Projects Section Animation Delay */
.slide-container .slide.active .slide-content .skwoop:nth-child(3)
{
    animation-delay: .55s;
}
.slide-container .slide.active .slide-content .skwoop:nth-child(5)
{
    animation-delay: .7s;
}
.slide-container .slide.active .slide-content .skwoop:nth-child(7)
{
    animation-delay: .85s;
}

/* Email Form and Info Section Animation Delay */
.say-hi-collapsible.active #emailform .skwoop:nth-child(2),
.slide-container .slide.active .slide-content .info-paragraph .skwoop:nth-child(2)
{
    animation-delay: .65s;
}
.say-hi-collapsible.active #emailform .skwoop:nth-child(5),
.slide-container .slide.active .slide-content .info-paragraph .skwoop:nth-child(3)
{
    animation-delay: .8s;
}
.say-hi-collapsible.active #emailform .skwoop:nth-child(8),
.slide-container .slide.active .slide-content .info-paragraph .skwoop:nth-child(4)
{
    animation-delay: .95s;
}