* {
  box-sizing: border-box;
}

body {
  display: flex;
  color: rgba(218, 165, 32, 0.9);
  font-size: 16px;
  font-family: "Baloo Tammudu 2", sans-serif;
  overflow-x: hidden;
  width: 100vw;
}

body .container {
  margin: 0;
  padding: 0;
  width: 100%;
}

#test-content {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.darken {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  z-index: 1;
  background: rgba(14, 1, 8, 0.4);
  min-width: 100vw;
  min-height: 100vh;
  pointer-events: all;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 9999; */
  width: 100%;
  min-height: 375vh;
}

.content-reveal {
  animation: fadeIn 3s forwards;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hidden {
  display: none;
  opacity: 0;
}

#paper-background {
  color: #27122e;
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100vw;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

#loader .loader-cat-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 300px;
  max-width: 300px;
}

/* Site loading Animation fadeIn */

.sidebar-and-navbar,
.hero-arrow,
.arrow,
.hero-headline {
  animation: fadeIn 11.6s forwards;
}

@keyframes fadeIn {
  0% 
    {
      opacity: 0;
    }
    85% 
    {
      opacity: 0;
    } 
    100% {
      opacity: 1;
    }
}

.img-handler {
  opacity: .2;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all .4s ease-in-out;
}

.projects .img-handler:hover {
  opacity: 1;
}

/* Hero Text */

.hero-headline {
  background: transparent;
  position: fixed;
  padding-top: 1.8rem;
  overflow: hidden;
}

.hero-arrow {
  display: flex;
}

.arrow {
  position: fixed;
  top: 5.15rem;
  right: 2rem;
}

.hero-links-wrap {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: flex-end;
}

.hero-links {
  padding-left: 5px;
}

/* Footer */

.footer-logo {
  right: 0;
  bottom: 0;
  position: fixed;
}

.mute {
  opacity: 0.2;
}

#navbarContainer {
  width: 400px;
  min-width: 400px;
  height: 120px;
  background-color: #2c1433;
  border-radius: 20px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

#navbar {
  width: 100%;
  height: 60px;
  background-color: #faebd7;
  position: absolute;
}

#bubbleWrapper {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
  bottom: 25px;
}

.bubble {
  background-color: #faebd7;
  width: 50px;
  height: 50px;
  bottom: 85px;
  border-radius: 50%;
  z-index: 1;
  transform: translateY(120%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  opacity: 0;
  margin: 0;
  position: absolute;
  top: 62%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#bubble1 {
  transform: translateY(0%);
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
} span {
    opacity: 0.7;
  }

#bgWrapper {
  filter: url(#goo);
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 60px;
}
#bg {
  background-color: #2c1433;
  width: 100%;
  height: 100%;

}
#bgBubble {
  position: absolute;
  background-color: #2c1433;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  bottom: -50px;
  left: 50px;
  transform: translateX(-50%);
}

#menuWrapper {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.menuElement {
  opacity: 0.4;
  transform: translateY(100%);
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}

.fas {
  color: #322a33;
}

.thin-border {
  -webkit-box-shadow: 0px 0px 4px 0.3px rgba(250, 215, 235, 0.7);
  -moz-box-shadow: 0px 0px 4px 0.3px rgba(250, 215, 235, 0.7);
  box-shadow: 0px 0px 4px 0.3px rgba(250, 215, 235, 0.7);
}
/* Cards */

.projects .card {
  background: transparent;
  top: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

/* .card-body {
  transform-style: preserve-3d;
} */

.card-img-top {
  min-width: 60vw;
  height: 65vh;
}

.three-d-header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.three-d-header-text h1{
  border-radius: 5px;
  background-color: rgb(39, 18, 46);
  box-shadow: -3px -3px 5px #7b3b9170, 
  3px 3px 15px #1d0d2270;
  font-size: 8vw;
}

.img-size-handle {
  object-fit: auto;
}
/* Animated Arrows */

.arrow {
  width: 45px;
  height: 35px;
  background: antiquewhite;
  clip-path: polygon(5% 0, 100% 50%, 5% 100%, 0% 100%, 75% 50%, 0% 0%);
  animation: clips 8s ease infinite;
}

@keyframes clips {
  20% {
    clip-path: polygon(0% 0, 50% 75%, 100% 0%, 100% 5%, 50% 100%, 0% 5%);
    opacity: 0.8;
  }
  30% {
    clip-path: polygon(0% 0, 50% 75%, 100% 0%, 100% 5%, 50% 100%, 0% 5%);
    opacity: 0;
  }
  70% {
    clip-path: polygon(5% 0, 100% 50%, 5% 100%, 0% 100%, 75% 50%, 0% 0%);
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
}

.hero-link-arrow {
  width: 18px;
  height: 12px;
  margin-left: 4px;
  padding: 4px;
  background: antiquewhite;
  clip-path: polygon(5% 0, 100% 50%, 5% 100%, 0% 100%, 75% 50%, 0% 0%);
}

/* Side Navbar */

.side-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  padding: .7rem;
  border-radius: 5px;
  min-width: 100vw;
  opacity: 0;
  z-index: 9999;
}

.side-navbar .navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 99%;
}

.navigation a,
.navigation span {
  color: rgba(218, 165, 32, 0.9);
  text-decoration: none;
}

.center span:hover {
  color: rgba(218, 165, 32, 0.4)
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(14, 1, 8);
  box-shadow: inset 0 0 5px rgb(39, 18, 46);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(14, 1, 8);
  box-shadow: inset 0 0 5px rgb(39, 18, 46);
}

/* Progress Bar */

.sidebar {
  display: flex;
  align-items: center;
  margin: 0;
  padding: .7rem;
  width: .220rem;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.progress-cont {
  width: 1px;
  height: 50vh;
  background-color: #322a33;
}


.progress-cont .progress-bar {
  height: 0%;
  max-height: 50vh;
  position: absolute;
  background: rgba(218, 165, 32, 0.9);
  width: 1px;
}

/* Section highlight on scroll */

.highlight {
  display: block;
  width: max-content;
  color: #837185;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.highlight.active {
  animation-name: fadeInBgColor;
}

@keyframes fadeInBgColor {
  0% {
    /* -webkit-box-shadow: 0px 0px 1px 0px rgba(215, 233, 250, 0);
        -moz-box-shadow: 0px 0px 1px 0px rgba(250, 215, 235, 0);
        box-shadow: 0px 0px 1px 0px rgba(250, 215, 235, 0); */
  }
  100% {
    color: #faebd7;
    /* -webkit-box-shadow: 0px 0px 4px 0.3px rgba(250, 215, 235, 0.3);
        -moz-box-shadow: 0px 0px 4px 0.3px rgba(250, 215, 235, 0.3);
        box-shadow: 0px 0px 4px 0.3px rgba(250, 215, 235, 0.3); */
  }
}

div > .card-body > span {
  z-index: 2;
  padding: 14px 14px;
  background: transparent;
  text-transform: uppercase;
  font-size: 4rem;
  color: rgb(39, 18, 46);
  text-shadow: none;
  opacity: .4;
  animation: iconmorph .8s ease forwards;

}

@keyframes iconmorph {
0% {

}
95% {

}
100% {
    text-shadow: 3px 3px 6px rgb(24, 11, 29),
    -1px -2px 3px rgba(250, 215, 235, 0.7);
}
}

div > .card-body > span > .html-css-bootstrap {
  color: rgb(39, 18, 46);
  opacity: 1 !important;
  font-size: 12rem;
  text-shadow: 3px 3px 6px rgb(41, 19, 49),
    -3px -3px 6px rgba(250, 215, 235, 0.7);
}