body {
  background: #2c1433;
  color: #faebd7;
  font-size: 16px;
  font-family: "Baloo Tammudu 2", sans-serif;
}

.main-content {
  margin-left: 20vw;
  min-height: 500vh;
}

/* Hero Text */

.hero-headline {
  background: #2c1433;
  position: fixed;
  padding-top: 1.8rem;
  left: 1.8rem;
  overflow: hidden;
}

.hero-arrow {
  min-height: 80vh;
  display: flex;
}

.arrow {
  position: fixed;
  top: 5.15rem;
  right: 2rem;
}

.hero-links-wrap {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: flex-end;
  margin-left: 8rem;
}

.hero-links {
  padding-left: 5px;
}

/* Footer */

.footer-logo {
  right: 0;
  bottom: 0;
  position: fixed;
}

.mute {
  opacity: 0.2;
}

.footer {
  position: fixed;
  background: linear-gradient(#2c143300 50%, #faebd7 50%);
  width: 100vw;
  margin: auto;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#navbarContainer {
  width: 400px;
  min-width: 400px;
  height: 120px;
  background-color: #2c143300;
  border-radius: 20px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

#navbar {
  width: 100%;
  height: 60px;
  background-color: #faebd7;
  position: absolute;
}

#bubbleWrapper {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
  bottom: 25px;
}

.bubble {
  background-color: #faebd7;
  width: 50px;
  height: 50px;
  bottom: 85px;
  border-radius: 50%;
  z-index: 1;
  transform: translateY(120%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  opacity: 0;
}

#bubble1 {
  transform: translateY(0%);
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
  > span {
    opacity: 0.7;
  }
}

#bgWrapper {
  filter: url(#goo);
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 60px;
}
#bg {
  background-color: #2c1433;
  width: 120%;
  height: 100%;
  margin-left: -10%;
}
#bgBubble {
  position: absolute;
  background-color: #2c1433;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  bottom: -50px;
  left: 50px;
  transform: translateX(-50%);
}

#menuWrapper {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.menuElement {
  opacity: 0.4;
  transform: translateY(100%);
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}

#contentWrapper {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    color: #fff;
    font-family: sans-serif;
    font-weight: 400;
  }
}
.content {
  display: none;
  opacity: 0;
}

.fas {
  color: #322a33;
}

.thin-border {
  -webkit-box-shadow: 0px 0px 4px 0.3px rgba(250, 215, 235, 0.7);
  -moz-box-shadow: 0px 0px 4px 0.3px rgba(250, 215, 235, 0.7);
  box-shadow: 0px 0px 4px 0.3px rgba(250, 215, 235, 0.7);
}
/* Cards */

.card {
  background: none;
  top: 90vh;
  margin-bottom: 48px;
  min-height: 400px;
  z-index: -5;
}

.img-size-handle {
  object-fit: auto;
}
/* Animated Arrows */

.arrow {
  width: 45px;
  height: 35px;
  background: antiquewhite;
  clip-path: polygon(5% 0, 100% 50%, 5% 100%, 0% 100%, 75% 50%, 0% 0%);
  animation: clips 8s ease infinite;
}

@keyframes clips {
  20% {
    clip-path: polygon(0% 0, 50% 75%, 100% 0%, 100% 5%, 50% 100%, 0% 5%);
    opacity: 0.8;
  }
  30% {
    clip-path: polygon(0% 0, 50% 75%, 100% 0%, 100% 5%, 50% 100%, 0% 5%);
    opacity: 0;
  }
  70% {
    clip-path: polygon(5% 0, 100% 50%, 5% 100%, 0% 100%, 75% 50%, 0% 0%);
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
}

.hero-link-arrow {
  width: 18px;
  height: 12px;
  margin-left: 4px;
  padding: 4px;
  background: antiquewhite;
  clip-path: polygon(5% 0, 100% 50%, 5% 100%, 0% 100%, 75% 50%, 0% 0%);
}

/* Side Navbar */

.side-navbar {
  
  position: fixed;
  width: 70px;
  border-radius: 5px;
  top: 45%;
  left: 1.8rem;
  opacity: 0;
}
/* Progress Bar */

.sidebar {
  margin: 0;
  padding: 0;
  top: 8rem;
  width: .220rem;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.progress-cont {
  width: 1px;
  margin-top: 45%;
  height: 50vh;
  margin-left: 50%;
  background-color: #322a33;
}


.progress-bar {
  height: 0%;
  max-height: 50vh;
  position: absolute;
  background: antiquewhite;
  width: 1px;
}

/* Section highlight on scroll */

.highlight {
  display: block;
  width: max-content;
  color: #837185;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.highlight.active {
  animation-name: fadeInBgColor;
}

@keyframes fadeInBgColor {
  0% {
    /* -webkit-box-shadow: 0px 0px 1px 0px rgba(215, 233, 250, 0);
        -moz-box-shadow: 0px 0px 1px 0px rgba(250, 215, 235, 0);
        box-shadow: 0px 0px 1px 0px rgba(250, 215, 235, 0); */
  }
  100% {
    color: #faebd7;
    /* -webkit-box-shadow: 0px 0px 4px 0.3px rgba(250, 215, 235, 0.3);
        -moz-box-shadow: 0px 0px 4px 0.3px rgba(250, 215, 235, 0.3);
        box-shadow: 0px 0px 4px 0.3px rgba(250, 215, 235, 0.3); */
  }
}

/* Footer Sticky */

.footer-sticky {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

#footer {
  position: sticky;
  padding-top: 7rem;
  bottom: 0;
  min-height: 100vh;
  z-index: 1;
}

.content-anchor {
  margin-top: auto;
}
